<% provide(:title, @post.title) %>

<div class="row">
 <aside class="span4">
 	<section>
 		<h1> <%= @post.title %>
</h1>
</section>
</aside>
<div class="span8"></div>

<ol class="posts">
	<%= @post.title %>
	<%= @post.content%>
	</ol>


</div>
